[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "uvicorn main:app --reload"

[packages]
fastapi = "*"
tiktoken = "*"
uvicorn = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
